.td-admin-title {
  position: relative;
}
.td-progress-bar-wrap {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
}

.td-progress-bar {
  background-color: #222;
  height: 5px;
  width: 0;
}