/*

  General CSS for WP admin panel

*/

// welcome
.about-wrap {
  .about-text {
    margin-right: 290px;
    min-height: 160px;
  }

  .wp-badge {
    background: url("../../../../images/panel/admin-panel/logo-panel.png") no-repeat #111; // 270 x 160px
    width: 270px;
    padding-top: 160px;
    height: 0;
    line-height: 34px;
    color: #000;
    text-align: right;
  }
}