.td-wp-admin-plugin {
  .td-button-install-plugin{
    display: none;
  }

  .td-button-uninstall-plugin {
    display: none;
  }


  .td-button-activate-plugin {
    display: none;
  }
}



.td-plugin-active {
  .td-button-uninstall-plugin {
    display: inline-block;
  }
}

.td-plugin-inactive {
  .td-button-activate-plugin {
    display: inline-block;
  }
}

.td-plugin-not-installed {
  .td-button-install-plugin {
    display: inline-block;
  }
}

